.conversation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 24px;
    align-self: stretch;

}

.conversation-heading {
    color: var(--color-primary-dark);
    text-align: center;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    letter-spacing: 0.15px;
}

.conversation-para {
    color: var(--color-primary-dark);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0.1px;
}

.chat-box {
    align-items: end;
}

.inset-border {
    background: var(--color-primary);
    color: var(--color-primary-dark);
    font-weight: 600;
    border-radius: 6px;
    box-shadow: inset 0 0 0 2px var(--color-primary-dark); /* acts like an inset border */
}

.user- {
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.25);
}

.markdown-body table {
  width: 100%;
  border-collapse: collapse;
  margin: 12px 0;
  font-size: 14px;
}

.markdown-body th,
.markdown-body td {
  border: 1px solid #ddd;
  padding: 8px;
}

.markdown-body th {
  background: #f3f3f3;
  font-weight: bold;
}

.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4 {
  margin: 12px 0 8px;
  font-weight: bold;
}

.markdown-body p {
  margin: 8px 0;
}

.markdown-body ul,
.markdown-body ol {
  margin-left: 20px;
}

.markdown-body li {
  margin-bottom: 4px;
  line-height: 1.4;
}
