.signup-- {
    background: var(--color-bg-light);
}

.signup-form {
    background: var(--color-primary-dark);
}

.greeting {
    color: var(--color-primary);
}

.signup-button {
    background: var(--color-primary);
    color: var(--color-primary-dark);
    cursor: pointer;
}

.signup-button:hover {
    background: #b2ffa5; /* match login hover */
}
